<script lang="ts">
	import type Quill from 'quill';
	import '../../../node_modules/quill/dist/quill.snow.css';
	import { onMount } from 'svelte';

	export let data: string;
	export let disabled: boolean = false;

	let editor: Quill;
	const toolbarOptions = [
		['bold', 'italic', 'underline', 'strike'],
		['blockquote', 'code-block'],

		[{ list: 'ordered' }, { list: 'bullet' }],
		[{ script: 'sub' }, { script: 'super' }],
		[{ indent: '-1' }, { indent: '+1' }],
		[{ direction: 'rtl' }],

		[{ size: ['small', false, 'large', 'huge'] }],
		[{ header: [2, 3, 4, 5, 6, false] }],

		[{ color: [] }, { background: [] }],
		[{ font: [] }],
		[{ align: [] }],
		['link'],

		['clean']
	];

	onMount(async () => {
		const Quill = (await import('quill')).default;

		if (data) {
			editor = new Quill('#editor');
			editor.disable();
			editor.setContents(JSON.parse(data));
			return;
		}

		editor = new Quill('#editor', {
			modules: {
				toolbar: toolbarOptions
			},
			bounds: '#bound',
			theme: 'snow',
			placeholder: 'Compose an epic...'
		});

		editor.on('text-change', () => {
			data = JSON.stringify(editor.getContents());
		});
	});
</script>

<div id="bound">
	<div id="toolbar" />
	<div id="editor" />
</div>
