<script lang="ts">
	import type Blog from '$lib/interfaces/Blog';

	export let data: Blog;
</script>

<article class="">
	<div class="relative after:bg-gradient-to-t after:from-black after:content-[''] after:absolute after:w-full after:h-full after:top-0 after:opacity-90">
		<img class="h-80 w-full object-cover" src={data.thumbnail} alt="Blog thumbnail" />
		<h1 class="text-2xl font-bold p-4 text-white z-[2] absolute bottom-0 left-0">{ data.title }</h1>
	</div>

  <div class="content p-4 my-2">
    {@html data.body}
  </div>
</article>

<style>
  .content :global(h1) {
    font-weight: bold;
    font-size: 2rem;
  }
</style>
