<script lang="ts">
	import { INPUT_TYPES } from '../../components/input/InputTypes';
	import Input from '../../components/input/Input.svelte';
	import Button from '../../components/Button.svelte';
	import { register } from '$lib/UserService';
	import type User from '$lib/interfaces/User';

	let data: User = {
		first_name: '',
		surname: '',
		username: '',
		email: '',
		password: '',
		repeat_password: ''
	};
	let errorMessage: string;
	let message: string;

	const submit = async () => {
		try {
			message = (await register(data)).message;
			errorMessage = '';
		} catch (error) {
			errorMessage = (<Error>error).message;
		}
	};
</script>

<form
	on:submit|preventDefault={submit}
	class="flex flex-col px-5 py-10 mx-auto md:max-w-md md:my-40 my-15"
>
	<h1 class="font-bold mb-4 text-primary-dark text-4xl text-center">Register</h1>
	<Input
		bind:value={data['first_name']}
		label="First name"
		id="first_name"
		type={INPUT_TYPES.TEXT}
	/>
	<Input bind:value={data['surname']} label="Surname" id="surname" type={INPUT_TYPES.TEXT} />
	<Input bind:value={data['username']} label="Username" id="username" type={INPUT_TYPES.TEXT} />
	<Input bind:value={data['email']} label="Email" id="email" type={INPUT_TYPES.EMAIL} />
	<Input bind:value={data['password']} label="Password" id="password" type={INPUT_TYPES.PASSWORD} />
	<Input
		bind:value={data['repeat_password']}
		label="Repeat password"
		id="re-password"
		type={INPUT_TYPES.PASSWORD}
	/>

	{#if message}
		<p class="my-3 text-xl text-green">{message}</p>
	{/if}

	{#if errorMessage}
		<p class="my-3 text-xl text-red">*{errorMessage}</p>
	{/if}

	<Button
		style="rounded-full bg-accent-dark text-white text-xl my-10 py-2 px-4 w-full"
		text="Register"
	/>
</form>
