<script lang="ts">
	import Header from '../components/Header.svelte';
	import Footer from '../components/Footer.svelte';
	import TailwindCss from '../components/TailwindCSS.svelte';
</script>

<Header />
<main>
	<slot />
</main>
<Footer />

<TailwindCss />
