<script lang="ts">
	import BlogList from '../components/BlogList.svelte';

	import { fetchBlogs } from '../lib/BlogServices';
	const blogs = fetchBlogs();
</script>

<h1 class="text-4xl font-bold text-center my-4 text-primary-dark">Blogs</h1>

<section class="my-8 mx-auto px-4 container">
	<h2 class="text-2xl font-bold text-accent-dark">Featured</h2>
	<div class="grid md:grid-cols-2 lg:grid-cols-3">
		{#await blogs}
			waiting...
		{:then blogs}
			<BlogList {blogs} />
		{/await}
	</div>
</section>

<section class="my-8 mx-auto px-4 container">
	<h2 class="text-2xl font-bold text-accent-dark">Recent</h2>
	<div class="grid md:grid-cols-2 lg:grid-cols-3">
		{#await blogs}
			waiting...
		{:then blogs}
			<BlogList {blogs} />
		{/await}
	</div>
</section>
