<script lang="ts">
	import { INPUT_TYPES } from './InputTypes';

	export let label = '';
	export let id = '';
	export let type: INPUT_TYPES = INPUT_TYPES.TEXT;
	export let value = '';

	const handleInput = (event: any) => {
		value = event.target.value;
	};
</script>

<div class="relative text-xl">
	<input
		on:input={handleInput}
		class="appearance-none text-primary-dark rounded-none border-b-2 border-primary-light my-3 py-2 px-4 w-full bg-transparent focus:outline-none focus:border-primary-dark peer"
		{type}
		{id}
		placeholder=""
	/>
	<label
		class="absolute text-accent-dark my-3 py-2 px-4 top-0 left-0 cursor-text select-none text-base top-[-1.2rem] peer-placeholder-shown:top-0 peer-placeholder-shown:text-xl peer-focus:top-[-1.2rem] peer-focus:text-base transition-[top,font-size] transition-200"
		for={id}>{label}</label
	>
</div>
