<script lang="ts">
  import Input from '../../../components/input/Input.svelte';
  import { INPUT_TYPES } from '../../../components/input/InputTypes';
  import Button from '../../../components/Button.svelte';
  import { postBlog } from '$lib/BlogServices';
  import type Blog from '$lib/interfaces/Blog';
  import { isLoggedIn } from '$lib/UserService';
  import { marked } from 'marked';
  

  let blog: Blog = {
    title: '',
    body: '',
  };

  let errorMessage = '';
  let succeed = '';
  let authorised = false;

  isLoggedIn.subscribe((v: boolean) => authorised = v)

  const createBlog = async () => {
    try {
      const body = marked.parse(blog.body);
      await postBlog({
        ...blog,
        body
      });
      errorMessage = '';
    } catch (error) {
      succeed = '';
      errorMessage = (error as Error).message;
    }
  };
</script>

<article class="container mx-auto p-4 my-4">
  <form on:submit|preventDefault={createBlog}>
    <Input bind:value={blog.title} type={INPUT_TYPES.TEXT} label="Title"
    id="title" />

    <div class="relative">
      <textarea id="body-editor" class="resize-y text-lg
      text-primary-dark rounded-none border-b-2 border-primary-light my-3 py-2
      px-4 w-full bg-transparent focus:outline-none focus:border-primary-dark
      peer" bind:value={blog.body} spellcheck="true" rows="10"></textarea>
      <label class="absolute text-xl text-accent-dark my-3 py-2 px-4 left-0
      cursor-text select-none top-[-1.2rem] peer-placeholder-shown:top-0
      peer-placeholder-shown:text-xl peer-focus:top-[-1.2rem] peer-focus:text-base
      transition-[top,font-size] transition-200" for="body-editor">Body</label>
    </div>

    {#if errorMessage}
      <p class="my-3 text-xl text-red">*{errorMessage}</p>
    {/if}

    {#if succeed}
      <p class="my-3 text-xl text-green">{succeed}</p>
    {/if}

    <Button
      text="Create"
      style="my-4 py-1 px-4 text-2xl text-primary-dark border-2 border-primary-dark rounded-full"
    />
  </form>
</article>
