<script lang="ts">
	import Input from '../../components/input/Input.svelte';
	import { INPUT_TYPES } from '../../components/input/InputTypes';
	import Button from '../../components/Button.svelte';
	import { login } from '$lib/UserService';
	import { goto } from '$app/navigation';

	let user: { email: string; password: string } = {
		email: '',
		password: ''
	};
	let errorMessage: string;
	let message: string;

	const submit = async () => {
		try {
			message = (await login(user)).message;
			errorMessage = '';
      goto("/")
		} catch (error) {
			errorMessage = (<Error>error).message;
		}
	};
</script>

<form
	on:submit|preventDefault={submit}
	class="flex flex-col mx-auto mb-4 px-5 py-10  sm:max-w-md md:my-40 my-15"
>
	<h1 class="font-bold text-primary-dark text-4xl text-center">Login</h1>
	<Input bind:value={user['email']} label="Email" id="email" type={INPUT_TYPES.EMAIL} />
	<Input bind:value={user['password']} label="Password" id="password" type={INPUT_TYPES.PASSWORD} />

	{#if message}
		<p class="my-3 text-xl text-green">{message}</p>
	{/if}

	{#if errorMessage}
		<p class="my-3 text-xl text-red">*{errorMessage}</p>
	{/if}

	<Button
		style="rounded-full bg-accent-dark text-white text-xl my-10 py-2 px-4 w-full focus:outline-none focus:bg-white focus:text-primary-dark focus:border-2"
		text="Login"
	/>
</form>
