<script lang="ts">
	import type Blog from '$lib/interfaces/Blog';
	export let blog: Blog;
</script>

<article class="my-4 mx-2 overflow-hidden shadow-md rounded-lg">
	<img class="max-h-80 object-cover w-full" src={blog.thumbnail} alt="thumbnail" />
	<div class="p-4">
		<h3 class="font-bold text-xl"><a href={`/blog/${blog._id}`}>{blog.title}</a></h3>
	</div>
</article>
