<footer class="bg-primary-dark text-white text-xl p-4">
	<div class="container mx-auto flex flex-col lg:flex-row lg:justify-around">

    <div class="text-center my-4 text-4xl">
      <a class="mx-2" href="#"><i class='bx bxl-facebook'></i></a>
      <a class="mx-2" href="#"><i class='bx bxl-instagram' ></i></a>
      <a class="mx-2" href="#"><i class='bx bxl-twitter' ></i></a>
      <a class="mx-2" href="#"><i class='bx bxl-youtube' ></i></a>
    </div>

    <hr class="lg:hidden" />

		<nav class="flex flex-col my-4 lg:mx-4xl">
			<a class="my-1" href="/">Home</a>
			<a class="my-1" href="/about">About</a>
			<a class="my-1" href="/about">Contact</a>
			<a class="my-1" href="/login">Login</a>
			<a class="my-1" href="/register">Register</a>
		</nav>

    <hr />

		<address class="my-4 lg:mx-4xl">
			<div>Email: <a href="mailto:jim@rock.com">johndoe@example.com</a></div>
			<div>Tel: <a href="tel:+964770000000">(770) 000-0000</a></div>
		</address>

    <hr />

    <div class="my-4 lg:mx-4xl">
      <p>&copy; 2022, BlogOne</p>
    </div>
	</div>
</footer>
