<script lang="ts">
  import { isLoggedIn } from '$lib/UserService';

	let menu = false;
	let autherised: boolean;

	const toggleMenu = () => {
		menu = !menu;
	};

  isLoggedIn.subscribe((v: boolean) => {
    autherised = v;
  })

</script>

<header class="bg-primary-dark text-white">
	<div class="container mx-auto md:flex md:flex-row md:justify-between bg-primary-dark">
		<div class="flex justify-between items-center py-5 px-3 top-0">
			<!-- logo -->
			<div class="text-4xl font-bold select-none">
				Blog<span class="text-primary-light">O</span>ne
			</div>
			<!-- End logo -->

			{#if !menu}
				<button on:click={toggleMenu} class="text-4xl md:hidden">
					<i class="bx bx-menu-alt-right" />
				</button>
			{/if}

			{#if menu}
				<button on:click={toggleMenu} class="text-4xl md:hidden">
					<i class="bx bx-x" />
				</button>
			{/if}
		</div>

		<nav
      on:keypress={ toggleMenu }
			class="bg-primary-dark flex flex-col items-center p-5 absolute z-[100] left-0 top-20 w-full md:static md:flex md:flex-row md:p-0 md:w-fit md:bg-transparent"
			class:hidden={!menu}
		>
			<div class="flex flex-col items-center md:flex-row">
				<a class="text-2xl py-2 md:mx-1 px-2 border-2 border-transparent hover:border-b-2 hover:border-b-primary-light transition-[border] duration-200" href="/">Home</a>
				<a class="text-2xl py-2 md:mx-1 px-2 border-2 border-transparent hover:border-b-2 hover:border-b-primary-light transition-[border] duration-200" href="/about">About</a>
				<a class="text-2xl py-2 md:mx-1 px-2 border-2 border-transparent hover:border-b-2 hover:border-b-primary-light transition-[border] duration-200" href="/about">Contact</a>
			</div>

			<div class="flex flex-col items-center md:flex-row">
        {#if !autherised}
          <a
            class="text-2xl py-2 md:mx-1 px-2 border-2 border-transparent hover:border-b-2 hover:border-b-primary-light transition-[border] duration-200"
            href="/login">Login</a
          >
          <a
            class="text-2xl py-2 md:ml-1 md:mx-1 px-2 border-2 border-transparent hover:border-b-2 hover:border-b-primary-light transition-[border] duration-200"
            href="/register">Register</a
          >
        {/if}

        {#if autherised}
          <a
            class="text-2xl py-2 px-2 md:mx-1 border-2 border-transparent hover:border-b-2 hover:border-b-primary-light transition-[border] duration-200"
            href="/blog/new">New Blog</a
          >
        {/if}
			</div>
		</nav>
	</div>
</header>
